SHOGEN_APP_NAME=Shogen Backend
SHOGEN_ENVIRONMENT=local
SHOGEN_HOST=0.0.0.0
SHOGEN_PORT=8000
SHOGEN_LOG_LEVEL=INFO
SHOGEN_DATABASE_URL=postgresql+psycopg://shogen:shogen@localhost:5432/shogen
SHOGEN_CORS_ORIGINS=["http://localhost:5173"]
SHOGEN_MODEL_PROVIDER=fake
SHOGEN_MODEL_TIMEOUT_SECONDS=20
SHOGEN_AZURE_OPENAI_ENDPOINT=
SHOGEN_AZURE_OPENAI_API_KEY=
SHOGEN_AZURE_OPENAI_API_VERSION=2024-08-01-preview
SHOGEN_AZURE_OPENAI_DEPLOYMENT=

POSTGRES_DB=shogen
POSTGRES_USER=shogen
POSTGRES_PASSWORD=shogen
POSTGRES_PORT=5432
